package templ

templ CaelumContent() {

<div id="prompt" class="mb-6 text-purple-400 italic"></div>

<button
hx-get="/prompt"
hx-target="#prompt"
hx-swap="innerHTML"


▼
<span class="text-xs block">Editor</span>

</button>

}
