package templ

import "time"

templ Dashboard(total int, currentStreak int, lastPoem *LastPoemSummary, month time.Time, days []HeatmapDay) {
	<div class="verse-surface-shell">
		@DashboardContent(total, currentStreak, lastPoem, month, days)
	</div>
}
